<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contribution | Test Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Contribution_index_survey.css') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    
    <main>
      <div class="survey">
        <h1 >Survey</h1>
      </div>      
      <form action="record" method="post">
        <section class="basic">
          <div class="form_inner_headings">
            <h3>Metadata</h3>
          </div>

          <div class="user-details">
            <div class="input-box">
              <input type="text" placeholder="Enter your name" />
            </div>
            <div class="input-box">
              <select>
                <option value="" selected disabled hidden>Select your age group*</option>
                <option value="">Below 18</option>
                <option value="">18-29</option>
                <option value="">30-39</option>
                <option value="">40-49</option>
                <option value="">50-59</option>
                <option value="">60-69</option>
                <option value="">70-79</option>
                <option value="">80-89</option>
                <option value="">90 and above</option>
              </select>
            </div>
            <div class="input-box">
              <select>
                <option value="" selected disabled hidden>Select your biological sex*</option>
                <option value="">Male</option>
                <option value="">Female</option>
                <option value="">Others</option>
                <option value="">Prefer not to say</option>
              </select>
            </div>
            <div class="input-box">
              <select id="country" name="country"></select>
            </div>

            <div class="input-box">
              <select name="state" id="state">
                <option value="" selected="selected">
                  Please select country first
                </option>
              </select>
            </div>

            <div class="input-box"> 
              <input type="text" placeholder="Enter your district*"/>
            </div>


            <div class="form_inner_headings">
              <h3>Medical data</h3>
            </div>

            <div class="input-box">
              
              <span class="label"
                >Do you have any of the following medical conditions?</span
              >
              <div class="checkboxes">
              <label> <input type="checkbox" name="" class="checkbox" id="" />Asthma </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />Cystic fibrosis
              </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />COPD/Emphysema
              </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />Pulmonary fibrosis
              </label>
              <label> <input type="checkbox" name="" class="checkbox" id="" />Pnuemonia </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />Other lung disease
              </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />High Blood Pressure
              </label>
              <label> <input type="checkbox" name="" class="checkbox" id="" />Angina </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />Previous stroke or Transient ischaemic attack 
              </label>
              <label>
                <input type="checkbox" name=""  class="checkbox" id="" />Previous heart attack
              </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />Valvular heart disease
              </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />Other heart disease
              </label>
              <label> <input type="checkbox" class="checkbox" name="" id="" />Diabetes </label>
              <label> <input type="checkbox" class="checkbox" name="" id="" />Cancer </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />Previous organ transplant
              </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />HIV or impaired immune
                system
              </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />Other long-term condition
              </label>
            </div>
            </div>
           
            <div class="input-box">
              <span class="label">Select appropriate options from below</span> <br>
              <select>
                <option value="" selected disabled hidden>Smoking habits,including e-cigarettes*</option>
                <option value="">Current Smoker</option>
                <option value="">Ex Smoker</option>
                <option value="">Never used at all</option>
                <option value="">E-cigarettes only</option>
              </select>
            </div>
            <div class="input-box">
              <select>
                <option value="" selected disabled hidden>Vaccination status*</span></option>
                <option value="">One dose</option>
                <option value="">Two dose</option>
                <option value="">Not done</option>
              </select>
            </div>

            <div class="form_inner_headings">
              <h3>Symptoms</h3>
            </div>

            <div class="input-box">
              <span class="label">Do you have any of the symptoms?(*)</span>
              <label> <input type="checkbox" name="" class="checkbox" id="" />Cold </label>
              <label> <input type="checkbox" name="" class="checkbox" id="" />Cough </label>
              <label> <input type="checkbox" name="" class="checkbox" id="" />Cough </label>
              <label> <input type="checkbox" name="" class="checkbox" id="" />Fever </label>
              <label> <input type="checkbox" name="" class="checkbox" id="" />Diarrhoea </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />Sore throat
              </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />Difficulty in breathing
              </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />Dizziness, confusion or
                vertigo
              </label>
              <label> <input type="checkbox" name="" class="checkbox" id="" />Headache </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />Running or blocked nose
              </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />Loss of taste or smell
              </label>
              <label>
                <input type="checkbox" name="" class="checkbox" id="" />Muscle pain
              </label>
              <label> <input type="checkbox" name="" class="checkbox" id="" />Fatigue </label>
            </div>
          </div>
        </section>

        
        <div class="submit">
          <button type="submit" ><i class="fas fa-arrow-circle-right"></i>Procced to recording</button>  
        </div>
      </form>

    
    </main>

    <script language="javascript">
      populateCountries("country", "state");
    </script>
    <script src="{{url_for('static', filename='js/countries.js')}}"></script>
    <script src="{{url_for('static', filename='js/recorder.js')}}"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>  
  </body>
</html>
