<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contribution | Feedback</title>
  <link rel="stylesheet" href="css/contribution_feedback.css" />
</head>
<body>

  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
  </head>
  
  <div class="feedback">
    <img src="A.jp" alt="logo" height="150px" width="150px" >
    <ul style="list-style-type: none;">
      <li>
        THANK YOU! 😍 for being a part of CovoX contribution. Your part in this survey will make a huge impact in fighting Covid 19.
      </li>
      <li>
        Please do not share the device in which you attempted the survey wihtout sanitising.
      </li>
      <li>
        Always wear you mask
      </li>
      <li>
        Keep 2m distance from everyone
      </li>
      <li>
        And regularly wash hands.
      </li>
      <li>
        Also, share it with your friends,relatives etc..
      </li>
      <li>
        Our model is in its learning stage and lots of improvement is necessary, if you feel that we should improvise please let us know, below 👇
      </li>
    </ul>
  
    <textarea
      name="improvise"
      id=""
          >
        Check saved for form!(note for developer)</textarea>

        <a href="redirect"></a>
        <button type="submit">
          Submit
        </button>
      </a>
  </div>


   


</body>
</html>